@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;



}

a {
  text-decoration: none !important;
  color: inherit !important;
}

* {
  box-sizing: border-box;
}

/* #####################################     css of Navber in component section   #########################################  */

.nav-cont {
  margin-bottom: 60px;
  margin-top: 30px;
  position: sticky;
  top: 30px;
  z-index: 30;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.Navbar_content {
  display: flex;
  justify-content: space-between;

}

.ifont-main {
  cursor: pointer;
}

.nav-side-comp {
  color: black;

  padding-left: 20px;
  cursor: pointer;
  text-decoration: none;
}

/* #################################       end of css in navbar section    ########################################## */


/* #################################### start point css of main postcard  ############################################  */

.PostCard-main {
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);

  box-shadow: 20px;
  border-radius: 10px;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 30px;
}

.PostCard-content {
  position: relative;
  overflow: hidden;
  padding-bottom: 80%;
  margin-bottom: -90px;
  box-shadow: 20px;
  border-radius: 10px;
}

.Postcard-image-main {

  position: absolute;
  height: 75%;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;



}

.Post-card-content {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.Icon-POstCard {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.Author-PostCard {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  margin-left: 5px;
  z-index: 10;
}

.Icon-Author {
  margin-left: 10px;
  margin-top: 10px;
}

.Icon-And-Author-Date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moment-date-icon {
  margin-right: 10px;
}

.date-POstcard-moment {
  margin-top: 3px;
  margin-left: 3px;
  color: black;
  z-index: 10;
}

.Heading-text-POstcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 48px;
  padding-right: 53px;
  transition: all 0.2s linear;
  margin-right: 30px;
  margin-left: 30px;
}

.in-line-text-heading-post-card {
  padding-bottom: 30px;
}

.Read-more-text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);



  color: white;
  font-weight: bolder;

  border-radius: 5px;
  cursor: pointer;
}

.Read-More-Button {
  text-align: center;
}

.Read-more-text:hover {
  background-color: #5f0a87;
  background-image: linear-gradient(326deg, #5f0a87 0%, #a4508b 74%);
}

@media (max-width:1200px) {
  .PostCard-content {
    margin-bottom: -50px;
  }
}

@media(max-width:992px) {
  .Icon-And-Author-Date {
    display: flex;
    flex-direction: column;
  }

  .PostCard-content {
    margin-bottom: -70px;
  }

  .moment-date-icon {
    margin-left: 1px;

  }
}

@media (max-width:768px) {
  .PostCard-content {
    margin-bottom: -50px;
  }
}




/* #################################### end point css of main postcard  ############################################  */


/* #################################### start point css of main postWidjet  ############################################  */

.Post-widjet-main {
  position: sticky;
  top: 114px;
  padding-bottom: 50%;
  background-color: #fad0c4;
  background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
  
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.Post-widjet-heading {
  padding-top: 20px;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
 color: #591313;
 margin-bottom: 20px;
 padding-bottom: 10px;
 border-bottom: 2px white solid;
}

.Post-widjet-content{
  position: relative;
  padding-bottom: 30px;
}
.image-post-widjet{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.Date-post-widjet{
  position: absolute;
  font-size: 12px;
  margin-left: 60px;
  margin-top: -5px;
  padding: 2px;
  background-color: #306844;
  background-image: linear-gradient(314deg, #306844 0%, #2c4c3b 74%);
  
  color: white;
  border-radius: 10px;
}
.Slug-post-widjet{
  
  font-size: 16px;
  padding-top: 15px;
  line-height: 16px;
  margin-left: 60px;
  color: #842929;
  cursor: pointer;
}

/* #################################### end point css of main Post Widget  ############################################  */